.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project-buttons {
    display: flex;
    justify-content: space-between;
  }
  
@media only screen and (min-width:765px) and (max-width:775px){
    .project-card{
        width: 356px;
    }
}

@media only screen and (min-width:775px) and (max-width:785px){
    .project-card{
        width: 362px;
    }
}
@media only screen and (min-width:800px) and (max-width:815px){
    .project-card{
        width: 376px;
    }
}
@media only screen and (min-width:1021px) and (max-width:1035px){
    .myproject {
        width: 937px;
    }
}
@media only screen and (min-width:1035px) and (max-width:1050px){
    .myproject {
        width: 947px;
    }
}
@media only screen and (min-width:1050px) and (max-width:1060px){
    .myproject {
        width: 958px;
    }
}
@media only screen and (min-width:1060px) and (max-width:1075px){
    .myproject {
        width: 970px;
    }
}
@media only screen and (min-width:1075px) and (max-width:1085px){
    .myproject {
        width: 984px;
    }
}
@media only screen and (min-width:1085px) and (max-width:1100px){
    .myproject {
        width: 992px;
    }
}
@media only screen and (min-width:1100px) and (max-width:1115px){
    .myproject {
        width:1014px;
    }
}
@media only screen and (min-width:1115px) and (max-width:1130px){
    .myproject {
        width:1028px;
    }
}
@media only screen and (min-width:1130px) and (max-width:1140px){
    .myproject {
        width:1039px;
    }
}
@media only screen and (min-width:1140px) and (max-width:1150px){
    .myproject {
        width:1050px;
    }
}
@media only screen and (min-width:1150px) and (max-width:1165px){
    .myproject {
        width:1065px;
    }
}
@media only screen and (min-width:1165px) and (max-width:1175px){
    .myproject {
        width:1075px;
    }
}
@media only screen and (min-width:1175px) and (max-width:1185px){
    .myproject {
        width:1085px;
    }
}
@media only screen and (min-width:1185px) and (max-width:1200px){
    .myproject {
        width:1097px;
    }
}
@media only screen and (min-width:1200px) and (max-width:1215px){
    .myproject {
        width:1112px;
    }
}
@media only screen and (min-width:1215px) and (max-width:1230px){
    .myproject {
        width:1130px;
    }
}
@media only screen and (min-width:1230px) and (max-width:1240px){
    .project{
        margin-left:180px;
    }
    .myproject{
        width:990px;
    }
}
@media only screen and (min-width:1240px) and (max-width:1250px){
    .project{
        margin-left:180px;
    }
    .myproject{
        width:1002px;
    }
}
@media only screen and (min-width:1250px) and (max-width:1260px){
    .project{
        margin-left:180px;
    }
    .myproject{
        width:1012px;
    }
}
@media only screen and (min-width:1260px) and (max-width:1270px){
    .project{
        margin-left:180px;
    }
    .myproject{
        width:1022px;
    }
}
@media only screen and (min-width:1270px) and (max-width:1285px){
    .project{
        margin-left:180px;
    }
    .myproject{
        width:1036px;
    }
}