.about-text{
    font-family: 'Poppins', sans-serif;
}
@media only screen and (min-width:1021px) and (max-width:1035px){
    .about-p{
        width:938px;
    }
}
@media only screen and (min-width:1035px) and (max-width:1050px){
    .about-p{
        width:950px;
    }
}
@media only screen and (min-width:1050px) and (max-width:1060px){
    .about-p{
        width:960px;
    }
}
@media only screen and (min-width:1060px) and (max-width:1075px){
    .about-p{
        width:970px;
    }
}
@media only screen and (min-width:1075px) and (max-width:1085px){
    .about-p{
        width:983px;
    }
}
@media only screen and (min-width:1085px) and (max-width:1100px){
    .about-p{
        width:995px;
    }
}
@media only screen and (min-width:1100px) and (max-width:1115px){
    .about-p{
        width:1015px;
    }
}
@media only screen and (min-width:1115px) and (max-width:1130px){
    .about-p{
        width:1033px;
    }
}
@media only screen and (min-width:1130px) and (max-width:1140px){
    .about-p{
        width:1040px;
    }
}
@media only screen and (min-width:1140px) and (max-width:1150px){
    .about-p{
        width:1050px;
    }
}
@media only screen and (min-width:1150px) and (max-width:1165px){
    .about-p{
        width:1060px;
    }
}
@media only screen and (min-width:1165px) and (max-width:1175px){
    .about-p{
        width:1070px;
    }
}
@media only screen and (min-width:1175px) and (max-width:1185px){
    .about-p{
        width:1080px;
    }
}
@media only screen and (min-width:1185px) and (max-width:1200px){
    .about-p{
        width:1090px;
    }
}
@media only screen and (min-width:1200px) and (max-width:1215px){
    .about-p{
        width:1112px;
    }
}
@media only screen and (min-width:1215px) and (max-width:1230px){
    .about-p{
        width:1135px;
    }
}
@media only screen and (min-width:1230px) and (max-width:1240px){
    .about{
        margin-left:180px;
    }
}
@media only screen and (min-width:1240px) and (max-width:1250px){
    .about{
        margin-left:180px;
    }
}
@media only screen and (min-width:1250px) and (max-width:1260px){
    .about{
        margin-left:180px;
    }
}
@media only screen and (min-width:1260px) and (max-width:1270px){
    .about{
        margin-left:180px;
    }
}
@media only screen and (min-width:1270px) and (max-width:1285px){
    .about{
        margin-left:180px;
    }
}
