@media only screen and (min-width:301px) and (max-width:330px){
    .footer-div{
        margin-left:45px;
    }
}
@media only screen and (min-width:330px) and (max-width:350px){
    .footer-div{
        margin-left:55px;
    }
}
@media only screen and (min-width:350px) and (max-width:375px){
    .footer-div{
        margin-left:66px;
    }
}
@media only screen and (min-width:375px) and (max-width:400px){
    .footer-div{
        margin-left:80px;
    }
}
@media only screen and (min-width:400px) and (max-width:430px){
    .footer-div{
        margin-left:90px;
    }
}
@media only screen and (min-width:430px) and (max-width:450px){
    .footer-div{
        margin-left:107px;
    }
}
@media only screen and (min-width:450px) and (max-width:475px){
    .footer-div{
        margin-left:117px;
    }
}
@media only screen and (min-width:475px) and (max-width:500px){
    .footer-div{
        margin-left:125px;
    }
}
@media only screen and (min-width:500px) and (max-width:530px){
    .footer-div{
        margin-left:142px;
    }
}
@media only screen and (min-width:530px) and (max-width:550px){
    .footer-div{
        margin-left:152px;
    }
}
@media only screen and (min-width:550px) and (max-width:575px){
    .footer-div{
        margin-left:165px;
    }
}
@media only screen and (min-width:575px) and (max-width:600px){
    .footer-div{
        margin-left:176px;
    }
}
@media only screen and (min-width:600px) and (max-width:630px){
    .footer-div{
        margin-left:195px;
    }
}
@media only screen and (min-width:630px) and (max-width:650px){
    .footer-div{
        margin-left:205px;
    }
}
@media only screen and (min-width:650px) and (max-width:675px){
    .footer-div{
        margin-left:210px;
    }
}
@media only screen and (min-width:675px) and (max-width:700px){
    .footer-div{
        margin-left:225px;
    }
}
@media only screen and (min-width:700px) and (max-width:730px){
    .footer-div{
        margin-left:245px;
    }
}
@media only screen and (min-width:730px) and (max-width:750px){
    .footer-div{
        margin-left:250px;
    }
}
@media only screen and (min-width:750px) and (max-width:765px){
    .footer-div{
        margin-left:263px;
    }
}
@media only screen and (min-width:765px) and (max-width:775px){
    .footer-div{
        margin-left:235px;
    }
}
@media only screen and (min-width:775px) and (max-width:785px){
    .footer-div{
        margin-left:240px;
    }
}
@media only screen and (min-width:785px) and (max-width:800px){
    .footer-div{
        margin-left:245px;
    }
}
@media only screen and (min-width:800px) and (max-width:815px){
    .footer-div{
        margin-left:255px;
    }
}
@media only screen and (min-width:815px) and (max-width:830px){
    .footer-div{
        margin-left:260px;
    }
}
@media only screen and (min-width:830px) and (max-width:840px){
    .footer-div{
        margin-left:266px;
    }
}
@media only screen and (min-width:840px) and (max-width:850px){
    .footer-div{
        margin-left:270px;
    }
}
@media only screen and (min-width:850px) and (max-width:865px){
    .footer-div{
        margin-left:278px;
    }
}
@media only screen and (min-width:865px) and (max-width:875px){
    .footer-div{
        margin-left:286px;
    }
}
@media only screen and (min-width:875px) and (max-width:885px){
    .footer-div{
        margin-left:290px;
    }
}
@media only screen and (min-width:885px) and (max-width:900px){
    .footer-div{
        margin-left:296px;
    }
}
@media only screen and (min-width:900px) and (max-width:915px){
    .footer-div{
        margin-left:300px;
    }
}
@media only screen and (min-width:915px) and (max-width:930px){
    .footer-div{
        margin-left:315px;
    }
}
@media only screen and (min-width:930px) and (max-width:940px){
    .footer-div{
        margin-left:320px;
    }
}
@media only screen and (min-width:940px) and (max-width:950px){
    .footer-div{
        margin-left:327px;
    }
}
@media only screen and (min-width:950px) and (max-width:965px){
    .footer-div{
        margin-left:330px;
    }
}
@media only screen and (min-width:965px) and (max-width:975px){
    .footer-div{
        margin-left:340px;
    }
}
@media only screen and (min-width:975px) and (max-width:985px){
    .footer-div{
        margin-left:345px;
    }
}
@media only screen and (min-width:985px) and (max-width:991px){
    .footer-div{
        margin-left:350px;
    }
}
@media only screen and (min-width:991px) and (max-width:1005px){
    .footer-div{
        margin-left:355px;
    }
}
@media only screen and (min-width:1005px) and (max-width:1020px){
    .footer-div{
        margin-left:360px;
    }
}
@media only screen and (min-width:1021px) and (max-width:1035px){
    .footer-div{
        margin-left:365px;
    }
}
@media only screen and (min-width:1035px) and (max-width:1050px){
    .footer-div{
        margin-left:370px;
    }
}
@media only screen and (min-width:1050px) and (max-width:1060px){
    .footer-div{
        margin-left:380px;
    }
}
@media only screen and (min-width:1060px) and (max-width:1075px){
    .footer-div{
        margin-left:388px;
    }
}
@media only screen and (min-width:1075px) and (max-width:1085px){
    .footer-div{
        margin-left:400px;
    }
}
@media only screen and (min-width:1085px) and (max-width:1100px){
    .footer-div{
        margin-left:405px;
    }
}
@media only screen and (min-width:1100px) and (max-width:1115px){
    .footer-div{
        margin-left:410px;
    }
}
@media only screen and (min-width:1115px) and (max-width:1130px){
    .footer-div{
        margin-left:415px;
    }
}
@media only screen and (min-width:1130px) and (max-width:1140px){
    .footer-div{
        margin-left:420px;
    }
}
@media only screen and (min-width:1140px) and (max-width:1150px){
    .footer-div{
        margin-left:425px;
    }
}
@media only screen and (min-width:1150px) and (max-width:1165px){
    .footer-div{
        margin-left:430px;
    }
}
@media only screen and (min-width:1165px) and (max-width:1175px){
    .footer-div{
        margin-left:440px;
    }
}
@media only screen and (min-width:1175px) and (max-width:1185px){
    .footer-div{
        margin-left:445px;
    }
}
@media only screen and (min-width:1185px) and (max-width:1200px){
    .footer-div{
        margin-left:450px;
    }
}
@media only screen and (min-width:1200px) and (max-width:1215px){
    .footer-div{
        margin-left:455px;
    }
}
@media only screen and (min-width:1215px) and (max-width:1230px){
    .footer-div{
        margin-left:460px;
    }
}
@media only screen and (min-width:1230px) and (max-width:1240px){
    .footer-div{
        margin-left:470px;
    }
}
@media only screen and (min-width:1240px) and (max-width:1250px){
    .footer-div{
        margin-left:475px;
    }
}
@media only screen and (min-width:1250px) and (max-width:1260px){
    .footer-div{
        margin-left:480px;
    }
}
@media only screen and (min-width:1260px) and (max-width:1270px){
    .footer-div{
        margin-left:485px;
    }
}
@media only screen and (min-width:1270px) and (max-width:1285px){
    .footer-div{
        margin-left:490px;
    }
}
@media only screen and (min-width:1285px) and (max-width:1300px){
    .footer-div{
        margin-left:495px;
    }
}
@media only screen and (min-width:1300px) and (max-width:1315px){
    .footer-div{
        margin-left:500px;
    }
}
@media only screen and (min-width:1315px) and (max-width:1330px){
    .footer-div{
        margin-left:505px;
    }
}
@media only screen and (min-width:1330px) and (max-width:1340px){
    .footer-div{
        margin-left:510px;
    }
}
@media only screen and (min-width:1340px) and (max-width:1350px){
    .footer-div{
        margin-left:515px;
    }
}
@media only screen and (min-width:1350px) and (max-width:1360px){
    .footer-div{
        margin-left:525px;
    }
}
@media only screen and (min-width:1360px) and (max-width:1370px){
    .footer-div{
        margin-left:530px;
    }
}
@media only screen and (min-width:1370px) and (max-width:1385px){
    .footer-div{
        margin-left:535px;
    }
}
@media only screen and (min-width:1385px) and (max-width:1400px){
    .footer-div{
        margin-left:540px;
    }
}
@media only screen and (min-width:1400px) and (max-width:1415px){
    .footer-div{
        margin-left:545px;
    }
}
@media only screen and (min-width:1415px) and (max-width:1430px){
    .footer-div{
        margin-left:555px;
    }
}
@media only screen and (min-width:1430px) and (max-width:1440px){
    .footer-div{
        margin-left:565px;
    }
}
@media only screen and (min-width:1440px) and (max-width:1450px){
    .footer-div{
        margin-left:570px;
    }
}
@media only screen and (min-width:1450px) and (max-width:1460px){
    .footer-div{
        margin-left:575px;
    }
}
@media only screen and (min-width:1460px) and (max-width:1475px){
    .footer-div{
        margin-left:585px;
    }
}
@media only screen and (min-width:1475px) and (max-width:1490px){
    .footer-div{
        margin-left:590px;
    }
}
@media only screen and (min-width:1490px) and (max-width:1500px){
    .footer-div{
        margin-left:595px;
    }
}
@media only screen and (min-width:1500px) and (max-width:1515px){
    .footer-div{
        margin-left:600px;
    }
}
@media only screen and (min-width:1515px) and (max-width:1530px){
    .footer-div{
        margin-left:610px;
    }
}
@media only screen and (min-width:1530px) and (max-width:1545px){
    .footer-div{
        margin-left:610px;
    }
}
@media only screen and (min-width:1545px) and (max-width:1555px){
    .footer-div{
        margin-left:615px;
    }
}
@media only screen and (min-width:1555px) and (max-width:1565px){
    .footer-div{
        margin-left:625px;
    }
}
@media only screen and (min-width:1575px) and (max-width:1585px){
    .footer-div{
        margin-left:635px;
    }
}
@media only screen and (min-width:1585px) and (max-width:1600px){
    .footer-div{
        margin-left:640px;
    }
}
@media only screen and (min-width:1600px) and (max-width:1615px){
    .footer-div{
        margin-left:650px;
    }
}
@media only screen and (min-width:1615px) and (max-width:1630px){
    .footer-div{
        margin-left:655px;
    }
}
@media only screen and (min-width:1630px) and (max-width:1640px){
    .footer-div{
        margin-left:670px;
    }
}
@media only screen and (min-width:1640px) and (max-width:1650px){
    .footer-div{
        margin-left:675px;
    }
}