@media only screen and (min-width:1021px) and (max-width:1035px){
    .work{
        width: 980px;
    }
}
@media only screen and (min-width:1035px) and (max-width:1050px){
    .work{
        width: 980px;
    }
}
@media only screen and (min-width:1260px) and (max-width:1270px){
    .contacts{
        margin-left:160px;
    }
}